h1,
h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}

.delete,
.delete:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.notAllowed {
    color: #FFF;
    background-color: red;
    border-color: red;
}

.material-icons {
    color: red;
    cursor: pointer;
}